
*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #808080;
}

body{
    /* height: 100vh;
    width: 100vw; */
    background-color: #edf1fd;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    
}

li {
    list-style: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

button {
    background-color: rgb(18, 155, 155);
    padding: 4px 10px;
    cursor: pointer;
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    font-weight: 600;
    width: fit-content;

}

button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    gap: 10px;
}

nav .logo {
    font-weight: 700;
    font-size: 30px;
    
}

nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 500;
}

nav ul li:hover {
    text-decoration: underline;
    font-weight: 700;
}

.search {
    display: flex;
    gap: 5px;
}

input {
    padding: 4px 10px;
}

.mainsection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 0 70px 0;
    gap: 50px;


}

.left {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 500;
}

.left h1 span {
    color: rgb(18, 155, 155);
    font-weight: 900;
    font-size: 3 rem;
}

.left p span{
    font-weight: 700;
    font-size: 25px;
    color: rgb(18, 155, 155);
}

.right {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.right img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.right .btn {
    display: flex;
    align-items: center;
    gap: 30px;
}

footer {
    display: flex;
    align-items: center;
    padding: 20px 0;
    justify-content: space-around;
    margin-top: 100px;

}

footer p{
    font-weight: 600;
}

footer ul{
    display: flex;
    gap: 30px;
    align-items: center;
}

footer ul li img{
    height: 50px;
    width: 50px;    
}